* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;






}


:root {
  /* colors */
  --primary-color: #15172f;
  --light-color1: #1f1e21;
  --dark: rgba(0, 0, 0, 0.7);
  --gold: #e3ab13;
  --violet: #5258FB;
  /* fonts */
  --h1-color: 'League Spartan', sans-serif;
  --Rail-way: 'Raleway',
    --Public-sans: 'Public Sans', sans-serif;
  --Poppings: 'Poppins', sans-serif;
  --Lato: 'Lato', sans-serif;
  --Roboto: font-family: 'Roboto Condensed', sans-serif;
  --Montserat: 'Montserrat', sans-serif;


}


p {
  font-family: var(--Rail-way);
  line-height: 2.5;

  font-weight: 400px;
}


.imG {
  background-image: url("/public/propp1.jpeg");
  background-size: cover;
  background-position: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

  width: 100%;
  overflow: hidden;

}

.img1 {

  height: 50px;
  width: 50px;
}

.imG {
  height: auto;
}

.nav-links a {
  text-decoration: none;
  font-family: var(--Roboto);
  font-weight: normal;
  font-size: 16px;
  color: white;


}

.nav-links a:hover {
  color: #e3ab13;

}


.btn:hover {
  background-color: #e3ab13;
}

.mission-section:hover {
  background-color: var(--dark);
  border-radius: 20px;

  transition: all 10s ease-in-out;
}

.ur9-values:hover {
  background-color: var(--dark);
  border-radius: 20px;

  transition: all 10s ease-in-out;
}

h3 {
  font-family: var(--Rail-way);
}


h1 {
  font-family: var(--Rail-way);
  font-weight: 900;

  box-shadow: 2px 2px #e3ab13;

}

#bakd {
  background-color: black;
}

.nav-links {
  margin-left: 70%;
}

.form-control {
  font-family: var(--Lato);
  border-radius: 0px;
}

.short-note {
  background-color: antiquewhite;
}

.footer-icon a {
  align-self: center;
  margin: 20px;
  text-decoration: none;
  color: white;

}

.image4 {
  border-radius: 100%;

  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: auto 5px;
  text-align: center;
}

.container-fluid {
  margin: 5% auto;
}





.about-hero {
  background-image: url("/public/ur9prop.jpg");
  background-size: cover;
  background-position: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-repeat: no-repeat;

}

ul li {
  list-style-type: none;
  margin: auto;
}

.misicons {
  font-size: 50px;
}

.footer-section {
  background-color: #000000;
}


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 700px) {

  .nav-links {
    display: flex;
    justify-content: start;
  }

  .nav-links a {
    line-height: 2.5;
    font-family: var(--Poppings);
  }


  .formally {
    width: 400px;
    margin: 5px 5px
  }

  .welcome {
    margin-top: 20%;
  }



  #prop-items {
    padding: auto;
  }
}




@media screen and (max-width: 500px) {


  .welcome {
    margin-top: 40%;
  }




}